streamlit
moviepy==1.0.3
imageio[ffmpeg]
opencv-python-headless
numpy
torch
torchvision
git+https://github.com/facebookresearch/segment-anything.git
diffusers==0.13.0
huggingface_hub==0.13.1
requests
